<div class="container-fluid">
  <div class="row"> 
    <div class="col-sm-10" style="left:5%; width: 90%; position:absolute">
  
        <!--课表-->
   <% if student_logged_in? %>
     <div class="panel panel-primary filterable"  >
        <div class="panel-heading">          
          <% if student_logged_in? %><h3 class="panel-title">个人课表</h3><% end %>
            <% if student_logged_in? %>
            <button id="downloadBt" style= "width:80px;height:25px;padding:2px;font-size:13px;color:black;left:83.0%; 
                top:0.6%;position:absolute" onclick="downloadSchedule()">下载课表</button>
            <% end %>
        </div>

  <div class="panel-body">
    <div class="container">
        <div class="detail" style="position:relative">
            <table>
                <tr>
                    <td>学号 : <%= current_user.num %></td>
                    <td>姓名 : <%= current_user.name %></td>
                    <td>年级 : 2016</td>
                </tr>
                <tr>
                    <td>学期 : 第一学期</td>
                    <td>学院 : <%= current_user.department  %></td>
                    <td>专业 : <%= current_user.major %></td>
                </tr>
            </table>
        </div>   
        
        <main style="top:5px;position:relative">
            <table class="table2excel">
                <thead>
                    <tr>
                        <th class="week"> </th>
                        <th class="week" value=1>周一</th>
                        <th class="week" value=2>周二</th>
                        <th class="week" value=3>周三</th>
                        <th class="week" value=4>周四</th>
                        <th class="week" value=5>周五</th>
                        <th class="week" value=6>周六</th>
                        <th class="week" value=7>周天</th>
                    </tr>
                </thead>
                <tbody>
                    <tr value="1" id="1">
                        <td class="classes">第一节</td> 
                        <td id="1-1" rowspan=$arr_rowspan[0][0]></td>
                        <td id="1-2" rowspan=$arr_rowspan[0][1]></td>
                        <td id="1-3" rowspan=1></td>
                        <td id="1-4" rowspan=$arr_rowspan[0][3]></td>
                        <td id="1-5" rowspan=$arr_rowspan[0][4]></td>
                        <td id="1-6" rowspan=$arr_rowspan[0][5]></td>
                        <td id="1-7" rowspan=$arr_rowspan[0][6]></td>
                    </tr>
                    <tr id="2">
                        <td class="classes">第二节</td>
                        <td id="2-1" rowspan=$arr_rowspan[1][0]></td>
                        <td id="2-2" rowspan=$arr_rowspan[1][1]></td>
                        <td id="2-3" rowspan=$arr_rowspan[1][2]></td>
                        <td id="2-4" rowspan=$arr_rowspan[1][3]></td>
                        <td id="2-5" rowspan=$arr_rowspan[1][4]></td>
                        <td id="2-6" rowspan=$arr_rowspan[1][5]></td>
                        <td id="2-7" rowspan=$arr_rowspan[1][6]></td>
                    </tr>
                    <tr id="3">
                        <td class="classes">第三节</td>
                        <td id="3-1" rowspan=$arr_rowspan[2][0]></td>
                        <td id="3-2" rowspan=$span></td>
                        <td id="3-3" rowspan=$arr_rowspan[2][2]></td>
                        <td id="3-4" rowspan=$arr_rowspan[2][3]></td>
                        <td id="3-5" rowspan=$arr_rowspan[2][4]></td>
                        <td id="3-6" rowspan=$arr_rowspan[2][5]></td>
                        <td id="3-7" rowspan=$arr_rowspan[2][6]></td>
                    </tr>
                    <tr id="4">
                        <td class="classes">第四节</td>
                        <td id="4-1" rowspan=$arr_rowspan[3][0]></td>
                        <td id="4-2" rowspan=$arr_rowspan[3][1]></td>
                        <td id="4-3" rowspan=$arr_rowspan[3][2]></td>
                        <td id="4-4" rowspan=$arr_rowspan[3][3]></td>
                        <td id="4-5" rowspan=$arr_rowspan[3][4]></td>
                        <td id="4-6" rowspan=$arr_rowspan[3][5]></td>
                        <td id="4-7" rowspan=$arr_rowspan[3][6]></td>
                    </tr>
                    <tr id="5">
                        <td class="classes">第五节</td>
                        <td id="5-1" rowspan=$arr_rowspan[4][0]></td>
                        <td id="5-2" rowspan=$arr_rowspan[4][1]></td>
                        <td id="5-3" rowspan=$arr_rowspan[4][2]></td>
                        <td id="5-4" rowspan=$arr_rowspan[4][3]></td>
                        <td id="5-5" rowspan=$arr_rowspan[4][4]></td>
                        <td id="5-6" rowspan=$arr_rowspan[4][5]></td>
                        <td id="5-7" rowspan=$arr_rowspan[4][6]></td>
                    </tr>
                    <tr id="6">
                        <td class="classes">第六节</td>
                        <td id="6-1" rowspan=$arr_rowspan[5][0]></td>
                        <td id="6-2" rowspan=$arr_rowspan[5][1]></td>
                        <td id="6-3" rowspan=$arr_rowspan[5][2]></td>
                        <td id="6-4" rowspan=$arr_rowspan[5][3]></td>
                        <td id="6-5" rowspan=$arr_rowspan[5][4]></td>
                        <td id="6-6" rowspan=$arr_rowspan[5][5]></td>
                        <td id="6-7" rowspan=$arr_rowspan[5][6]></td>
                    </tr>
                    <tr id="7">
                        <td class="classes">第七节</td>
                        <td id="7-1" rowspan=$arr_rowspan[6][0]></td>
                        <td id="7-2" rowspan=$arr_rowspan[6][1]></td>
                        <td id="7-3" rowspan=$arr_rowspan[6][2]></td>
                        <td id="7-4" rowspan=$arr_rowspan[6][3]></td>
                        <td id="7-5" rowspan=$arr_rowspan[6][4]></td>
                        <td id="7-6" rowspan=$arr_rowspan[6][5]></td>
                        <td id="7-7" rowspan=$arr_rowspan[6][6]></td>
                    </tr>
                    <tr id="8">
                        <td class="classes">第八节</td>
                        <td id="8-1" rowspan=$arr_rowspan[7][0]></td>
                        <td id="8-2" rowspan=$arr_rowspan[7][1]></td>
                        <td id="8-3" rowspan=$arr_rowspan[7][2]></td>
                        <td id="8-4" rowspan=$arr_rowspan[7][3]></td>
                        <td id="8-5" rowspan=$arr_rowspan[7][4]></td>
                        <td id="8-6" rowspan=$arr_rowspan[7][5]></td>
                        <td id="8-7" rowspan=$arr_rowspan[7][6]></td>
                    </tr>
                    <tr id="9">
                        <td class="classes">第九节</td>
                        <td id="9-1" rowspan=$arr_rowspan[8][0]></td>
                        <td id="9-2" rowspan=$arr_rowspan[8][1]></td>
                        <td id="9-3" rowspan=$arr_rowspan[8][2]></td>
                        <td id="9-4" rowspan=$arr_rowspan[8][3]></td>
                        <td id="9-5" rowspan=$arr_rowspan[8][4]></td>
                        <td id="9-6" rowspan=$arr_rowspan[8][5]></td>
                        <td id="9-7" rowspan=$arr_rowspan[8][6]></td>
                    </tr>
                    <tr id="10">
                        <td class="classes">第十节</td>
                        <td id="10-1" rowspan=$arr_rowspan[9][0]></td>
                        <td id="10-2" rowspan=$arr_rowspan[9][1]></td>
                        <td id="10-3" rowspan=$arr_rowspan[9][2]></td>
                        <td id="10-4" rowspan=$arr_rowspan[9][3]></td>
                        <td id="10-5" rowspan=$arr_rowspan[9][4]></td>
                        <td id="10-6" rowspan=$arr_rowspan[9][5]></td>
                        <td id="10-7" rowspan=$arr_rowspan[9][6]></td>
                    </tr>
                    <tr id="11">
                        <td class="classes">第十一节</td>
                        <td id="11-1" rowspan=$arr_rowspan[10][0]></td>
                        <td id="11-2" rowspan=$arr_rowspan[10][1]></td>
                        <td id="11-3" rowspan=$arr_rowspan[10][2]></td>
                        <td id="11-4" rowspan=$arr_rowspan[10][3]></td>
                        <td id="11-5" rowspan=$arr_rowspan[10][4]></td>
                        <td id="11-6" rowspan=$arr_rowspan[10][5]></td>
                        <td id="11-7" rowspan=$arr_rowspan[10][6]></td>
                    </tr>
                  </tbody>
                </table>
              </main>
            </div>
        </div>
        <div style="height:50px; width:100%"></div>
      </div>
      <!--与底部之间间隔一个空白边-->
      <div style="height:50px; width:100%"></div>
    <% end %>
   </div>
 </div>
</div>


<script>
	function downloadSchedule() {
		$(".table2excel").table2excel({
			exclude: ".noExl",
			name: "Excel Document Name",
			filename: "<%= current_user.name %>课表",
			fileext: ".xls",
			exclude_img: true,
			exclude_links: true,
			exclude_inputs: true
		});
	}
</script>


<!--初始加载页面隐藏课表-->
<script type="text/javascript">   
      var hashWeek = {"周一":1,"周二":2,"周三":3,"周四":4,"周五":5,"周六":6,"周日":7}; 
       
    <% @current_user.courses.each do |course| %>
    var eachcoursetime="<%= course.course_time.strip %>"; 
    var l_bracket="<%= course.course_time.index("(") %>";
    var r_bracket="<%= course.course_time.index(")") %>";  
    var m_line="<%= course.course_time.index("-") %>";  
     
    var eachWeek ="<%= course.course_time[0..1] %>";
    eachWeek = hashWeek[eachWeek];
    if(m_line == 4 )
    {
      var eachClassStart = "<%= course.course_time[3..3].to_i(base=10) %>";
      if(r_bracket == 6 )
        var eachClassEnd = "<%= course.course_time[5..5].to_i(base=10) %>";
      else if (r_bracket == 7 )
        var eachClassEnd = "<%= course.course_time[5..6].to_i(base=10) %>"; 
    }
    else if (m_line == 5 )
    {
      var eachClassStart = "<%= course.course_time[3..4].to_i(base=10) %>";
      if(r_bracket == 7 )
        var eachClassEnd = "<%= course.course_time[6..6].to_i(base=10) %>";
      else if (r_bracket == 8 )
        var eachClassEnd = "<%= course.course_time[6..7].to_i(base=10) %>"; 
    }
    var mm = ++eachClassEnd- eachClassStart;
    //eachClassEnd -= eachClassEnd   //不管用！！！
     --eachClassEnd
    // 旁听课程可能会与选课时间有冲突 
     document.getElementById(eachClassStart+"-"+eachWeek).rowSpan=mm; 
     document.getElementById(eachClassStart+"-"+eachWeek).innerHTML += "<%= course.name %>"+"<br/>"+"<%= course.course_week %>"+"<%= course.course_time %>"+"<br/>"+"<%= course.class_room %>"+"<br/>"+"<%= course.teacher.name %>";
    
    for(var index = ++eachClassStart; index<=eachClassEnd; index++) 
        {  //神奇了，不能用+1 而能用++
        document.getElementById(index+"-"+eachWeek).style.display="none"
        } 
    <% end %>
</script>

