<div class="container-fluid">
  <div class="row">

    <div class="col-sm-2">
      <%= render "shared/sidenav" %>
    </div>

    <div class="col-sm-10" style="left:14%; width: 86%; position:absolute">

      <div class="panel panel-primary filterable">
        <div class="panel-heading">
          <% if teacher_logged_in? %><h3 class="panel-title">授课列表</h3><% end %>
          <% if student_logged_in? %><h3 class="panel-title">已选课程</h3><% end %>
          <% if student_logged_in? %>
          <button style= "width:80px;height:25px;padding:2px;font-size:13px;color:black;left:90%; top:0.5%;position:absolute" onclick="setSchedule()">课表</button>
          <% end %>
        </div>

        <div class="panel-body">
          <table class="table table-responsive table-condensed table-hover">
            <thead>
            <tr>
              <th>课程编号</th>
              <th>课程名称</th>
              <th>课时/学分</th>
              
              <% if teacher_logged_in? %>
                <th>限选</th>
              <% end %>
              
              <th>已选</th>
              <th>课程属性</th>
              <th>授课方式</th>
              <th>考试方式</th>
              <th>上课周数</th>
              <th>上课时间</th>
              <th>授课地点</th>
              <th>主讲教师</th>
              <% if student_logged_in? %>
                <th>学位课状态</th>
              <% end %>
            </tr>
            </thead>
            <tbody>
            <% @course.each do |course| %>
                <tr>

                  <td><%= link_to course.course_code,courseplan_course_url(course) %></td>
					        <td><%= course.name %></a></td>
                  <td><%= course.credit %></td>
                  
                  <% if teacher_logged_in? %>
                    <td><%= course.limit_num %></td>
                  <% end %>
                
                  <td><%= course.student_num %></td>
                  <td><%= course.course_type %></td>
                  <td><%= course.teaching_type %></td>
                  <td><%= course.exam_type %></td>
                  <td><%= course.course_week %></td>
                  <td><%= course.course_time %></td>
                  <td><%= course.class_room %></td>
                  <td><%= course.teacher.name %></td>

                  <% if teacher_logged_in? %>
                      <td><%= link_to "编辑", edit_course_url(course), class: 'btn btn-xs btn-info' %></td>
                      <% if course.open %>
                        <td><%= link_to "关闭", close_course_path(course),  class: 'btn btn-xs btn-danger', :data => {confirm: '确定要关闭此课程?'} %></td>
                      <% else %>
                        <td><%= link_to "开放", open_course_path(course),  class: 'btn btn-xs btn-info' %></td>
                      <% end %>
                      <td><%= link_to "删除", course_path(course), :method => "delete", class: 'btn btn-xs btn-danger', :data => {confirm: '确定要删除此课程?'} %></td>
                  <% elsif student_logged_in? %>
                      <% grade=current_user.grades.find_by(course_id: course.id)%>
                      <% if grade.degree == 1 %>
                        <td><%= link_to "是", modifydegree_course_path(course),  class: 'btn btn-xs btn-success' %></td>
                      <% elsif grade.degree == 0 %>
                        <td><%= link_to "否", modifydegree_course_path(course),  class: 'btn btn-xs btn-info' %></td>
                      <% else %>
                        <td><%= link_to "旁听", modifydegree_course_path(course),  class: 'btn btn-xs btn-info' %></td>
                      <% end %>
                      <td><%= link_to "删除", quit_course_path(course), class: 'btn-sm btn-danger' %></td>
                  <% end %>
                </tr>
            <% end %>
            </tbody>
          </table>

        </div>
      </div>
      
      
      
      
        <!--课表-->
    
    <div class="panel panel-primary filterable" id="courseTable" style="left:-10%;top:10%;width:110%;position:relative;z-index:-1;">
        <div class="panel-heading">
          <% if student_logged_in? %><h3 class="panel-title">选课课表</h3><% end %>
          
          <!--<button style= "width:80px;height:25px;padding:2px;font-size:13px;color:black;left:90%; top:0.8%;position:absolute;z-index:100" onclick="downloadSchedule()">下载课表</button>-->
        </div>

        <div class="panel-body">
          
          
          <div class="container">
        
        <div class="detail" style="position:relative;left:30%">
            <table class="schedule">
                <tr>
                    <td>学号 : <%= current_user.num %>&nbsp&nbsp&nbsp</td>
                    <td>姓名 : <%= current_user.name %>&nbsp&nbsp&nbsp</td>
                    <td>专业 : <%= current_user.department %></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <main style="top:5px;position:relative">
            <table class="table2excel">
                <thead>
                    <tr>
                        <th class="week">节次/星期</th>
                        <th class="week" value=1>周一</th>
                        <th class="week" value=2>周二</th>
                        <th class="week" value=3>周三</th>
                        <th class="week" value=4>周四</th>
                        <th class="week" value=5>周五</th>
                        <th class="week" value=6>周六</th>
                        <th class="week" value=7>周天</th>
                    </tr>
                </thead>
                <tbody>
                    <tr value="1" id="1">
                        <td class="classes">第一节<br/>[8:30-9:20]</td>
                        <td id="1-1"></td>
                        <td id="1-2"></td>
                        <td id="1-3"></td>
                        <td id="1-4"></td>
                        <td id="1-5"></td>
                        <td id="1-6"></td>
                        <td id="1-7"></td>
                    </tr>
                    <tr id="2">
                        <td class="classes">第二节<br/>[9:20-10:10]</td>
                        <td id="2-1"></td>
                        <td id="2-2"></td>
                        <td id="2-3"></td>
                        <td id="2-4"></td>
                        <td id="2-5"></td>
                        <td id="2-6"></td>
                        <td id="2-7"></td>
                    </tr>
                    <tr id="3">
                        <td class="classes">第三节<br/>[10:30-11:20]</td>
                        <td id="3-1"></td>
                        <td id="3-2"></td>
                        <td id="3-3"></td>
                        <td id="3-4"></td>
                        <td id="3-5"></td>
                        <td id="3-6"></td>
                        <td id="3-7"></td>
                    </tr>
                    <tr id="4">
                        <td class="classes">第四节<br/>[11:20-12:10]</td>
                        <td id="4-1"></td>
                        <td id="4-2"></td>
                        <td id="4-3"></td>
                        <td id="4-4"></td>
                        <td id="4-5"></td>
                        <td id="4-6"></td>
                        <td id="4-7"></td>
                    </tr>
                    <tr id="5">
                        <td class="classes">第五节<br/>[13:30-14:20]</td>
                        <td id="5-1"></td>
                        <td id="5-2"></td>
                        <td id="5-3"></td>
                        <td id="5-4"></td>
                        <td id="5-5"></td>
                        <td id="5-6"></td>
                        <td id="5-7"></td>
                    </tr>
                    <tr id="6">
                        <td class="classes">第六节<br/>[14:20-15:10]</td>
                        <td id="6-1"></td>
                        <td id="6-2"></td>
                        <td id="6-3"></td>
                        <td id="6-4"></td>
                        <td id="6-5"></td>
                        <td id="6-6"></td>
                        <td id="6-7"></td>
                    </tr>
                    <tr id="7">
                        <td class="classes">第七节<br/>[15:30-16:20]</td>
                        <td id="7-1"></td>
                        <td id="7-2"></td>
                        <td id="7-3"></td>
                        <td id="7-4"></td>
                        <td id="7-5"></td>
                        <td id="7-6"></td>
                        <td id="7-7"></td>
                    </tr>
                    <tr id="8">
                        <td class="classes">第八节<br/>[16:20-17:10]</td>
                        <td id="8-1"></td>
                        <td id="8-2"></td>
                        <td id="8-3"></td>
                        <td id="8-4"></td>
                        <td id="8-5"></td>
                        <td id="8-6"></td>
                        <td id="8-7"></td>
                    </tr>
                    <tr id="9">
                        <td class="classes">第九节<br/>[19：00-19:50]</td>
                        <td id="9-1"></td>
                        <td id="9-2"></td>
                        <td id="9-3"></td>
                        <td id="9-4"></td>
                        <td id="9-5"></td>
                        <td id="9-6"></td>
                        <td id="9-7"></td>
                    </tr>
                    <tr id="10">
                        <td class="classes">第十节<br/>[19:50-20:40]</td>
                        <td id="10-1"></td>
                        <td id="10-2"></td>
                        <td id="10-3"></td>
                        <td id="10-4"></td>
                        <td id="10-5"></td>
                        <td id="10-6"></td>
                        <td id="10-7"></td>
                    </tr>
                    <tr id="11">
                        <td class="classes">第十一节<br/>[20:50-21:40]</td>
                        <td id="11-1"></td>
                        <td id="11-2"></td>
                        <td id="11-3"></td>
                        <td id="11-4"></td>
                        <td id="11-5"></td>
                        <td id="11-6"></td>
                        <td id="11-7"></td>
                    </tr>
                </tbody>
            </table>
        </main>
    </div>
        </div>
      </div>
      <!--与底部之间间隔一个空白边-->
      <div style="height:50px; width:100%">
        </div>
      
    </div>

  </div>
  
  <button id="downloadBt" style= "width:80px;height:25px;padding:2px;font-size:13px;color:black;left:90%; top:69%;position:absolute;z-index:100" onclick="downloadSchedule()">下载课表</button>
</div>


<!--<script src="../src/jquery.min.js"></script>-->
<!--<script src="../src/jquery.table2excel.js"></script>-->
<script>
			function downloadSchedule() {
				$(".table2excel").table2excel({
					exclude: ".noExl",
					name: "Excel Document Name",
					filename: "<%= current_user.name %>课表",
					fileext: ".xls",
					exclude_img: true,
					exclude_links: true,
					exclude_inputs: true
				});
			}
		</script>


<script type="text/javascript">  
  $(function(){
   document.getElementById("courseTable").style.display = "none";
   document.getElementById("downloadBt").style.display = "none";
  });

  function setSchedule(){
    document.getElementById("courseTable").style.display = "block";
    document.getElementById("downloadBt").style.display = "block";
    var hashWeek = {"周一":1,"周二":2,"周三":3,"周四":4,"周五":5,"周六":6,"周日":7};
    
    // document.getElementById("1-1").innerHTML = "高数";
    // document.getElementById("1-1").value = "高数";
    // // var weekHTML = document.getElementById("1")
    // // $(weekHTML).append("<td>Hello world!</td>");
    // document.getElementById("1-1").rowspan ="2";
    // alert(document.getElementById("1-2").rowspan);
    
    var arr = new Array();
    <% @course.each do |course| %>
      var eachWeek ="<%= course.course_time[0..1] %>";
      eachWeek = hashWeek[eachWeek];
      var eachClassStart = "<%= course.course_time[3..3].to_i %>";
      var eachClassEnd =  "<%= course.course_time[5..5].to_i %>";
      for(var index = eachClassStart; index<=eachClassEnd; index++)
        // arr.push(index+"-"+eachWeek);
        {
          // 旁听课程可能会与选课时间有冲突
          document.getElementById(index+"-"+eachWeek).innerHTML += "<%= course.name %>"+"<br/>"+"<%= course.teaching_type %>"+"<br/>"+"<%= course.exam_type %>"+"<br/>"+"<%= course.teacher.name %>"+"<br/>"+"<%= course.course_week %>"+"<br/>"+"<%= course.course_time %>"+"<br/>"+"<%= course.class_room %>";
        }
      // alert(arr);
      // var dur = eachClassEnd - eachClassStart+1;
      // var domHTML = document.getElementById(eachClassStart);
      // var inputCol = "<td rowspan="+dur+"><%= course.name  %></td>";
      // alert(inputCol);
      // $(domHTML).append(inputCol);
    <% end %>
    // alert(arr);
    // for(var i = 1; i <=11; i++)
    // {
    //   for(var j = 1; j<=7; j++)
    //   {
    //     for(var index = 0; index<arr.length; index ++)
    //       if((i+"-"+j) == arr[index])
    //         {
    //           alert(i+"-"+j);
    //           document.getElementById(i+"-"+j).style.display = "none";
    //         }
    //         // else
    //         // alert(i+"-"+j);
    //   }
    // }
      
  }
</script>